.logo img {
  width: 30px;
  height: 30px;
}
.banner {
  position: relative;
}
.banner img {
  width: 100% !important;
}
.banner-btn {
  position: absolute;
  top: 55px;
  right: 54px;
}
.banner-btn button {
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: var(--text-color);
  font-family: var(--secondary-font);
  text-transform: uppercase;
}
.banner-btn svg {
  margin-right: 10px !important;
  fill: var(--text-color);
}
